extends layout

block content
  section
    article
      h2.title 标题: #{article.title}
      .info
        span 
          i.pubtime 
            #{article.pubtime}
        span
          i.category 
            #{article.category}
        span
          i.tags 
            #{article.tags} 
      .text #{article.content}
