extends layout

block content
  section
    article
      h2.title 标题: #{article.title}
      .article-info
        span
          i.pubtime
          | #{article.pubtime}
        span
          i.category
          | #{article.category}
        span
          i.tags
          | #{article.tags}
        span
          i.clicks
          | #{article.clicks}
      .text  #{article.content}
