extends layout

block content
  section
    article
      h2.title 标题: #{article.title}
      .article-info
        span
          i.pubtime
          | #{article.pubtime}
        span
          i.category
          | #{article.category}
        span
          i.tags
          for tag in article.tags
            a.atag(href='/tag/#{tag}') #{tag}
        span
          i.clicks
          | #{article.clicks}
      .text  #{article.content}
