doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(style='display:none')
      // if lt IE9
        script(src='/js/html5shiv.js')
    .wrap
      .content
        header
          .logo-box
            h1
              a(href='/') #{siteData.master}
              em.desc= siteData.description
          nav
            ul
              li
                a(href='/') 首页
              li
                a(href='/article') 文章
              li
                a(href='/about') 关于About
          .pull-right
            if isLogin
              a.btn.btn-green(href='/admin') Admin->Enter
            else
              a#login.btn.btn-black(href='#loginBox') Admin
        block content
      footer
        .footer-c
          p &copy; 2012 Powered by
            a(href='#{siteData.powerUrl}') #{siteData.power}
    include fancyBox
    script(type='text/javascript',src='/js/sea.js',data-main='init')
