doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/prettify.css')
    link(rel='stylesheet', href='/js/fancybox2/jquery.fancybox.css')
  body
    div(style='display:none')
      // if lt IE9
        script(src='/js/html5shiv.js')
    .wrap
      .content
        header
          .logo-box
            h1
              a(href='/') #{siteData.master}
              em.desc= siteData.description
          nav
            ul
              li
                a(href='/') 首页
              li
                a(href='/article') 文章
              li
                a(href='/about') About
          .pull-right
            if isLogin
              a.btn.btn-green(href='/admin',title='Enter') 进 入
            else
              a#login.btn.btn-black(href='#loginBox',title='Admin login') 登 录
        block content
      footer
        .footer-c
          p &copy; 2012
            a(href='#{siteData.powerUrl}') #{siteData.power}
            span    Themed by shaman
          p 使用
            a(href='http://nodejs.org/') Nodejs
            a(href='http://expressjs.com/') Express
            a(href='http://jade-lang.com/') Jade
            a(href='http://cn.docs.mongodb.org/') MongoDB

    include fancyBox
    script(type='text/javascript',src='/js/jquery.js')
    script(type='text/javascript',src='/js/prettify.js')
    script(type='text/javascript',src='/js/fancybox2/jquery.fancybox.pack.js')
    script(type='text/javascript',src='/js/main.js')
