<% if(tocData.err){ %>
    <p>无权限！</p>
<% }else{ %>
<% if(tocData.folder.length > 0 || tocData.document.length > 0){ %>
    <h4>
        Index of : <%= tocData.queryDir %>
    </h4>
    <!--<ul>
        <% tocData.folder.forEach(function(folder, index){ %>
        <li><%= folder %></li>
        <% }) %>
        <% tocData.document.forEach(function(doc, index){ %>
        <li><%= doc.name %> , type : <%= doc.type %> <a href="javascript:" title="编辑文件" class="edit-file" data-path="<%= tocData.queryDir %>/<%= doc.name %>">edit</a></li>
        <% }) %>
    </ul>-->
    <table>
        <thead>
            <tr>
                <th align="left">[ICO]</th>
                <th align="left">Name</th>
                <th align="left">Last Modified</th>
                <th align="left">Size</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>DIR</td>
                <td><a href="javascript:" title="进入" class="enter-folder" data-path="<%= tocData.parentDir %>">Parent Directory</a></td>
                <td>--</td>
                <td>--</td>
            </tr>
            <% tocData.folder.forEach(function(folder, index){ %>
            <tr>
                <td>Dir</td>
                <td><a href="javascript:" title="进入" class="enter-folder" data-path="<%= tocData.queryDir %>/<%= folder %>"><%= folder %></a></td>
                <td>--</td>
                <td>--</td>
            </tr>
            <% }) %>
            <% tocData.document.forEach(function(doc, index){ %>
            <tr>
                <td><%= doc.type %></td>
                <td><a href="javascript:" title="编辑文件" class="edit-file" data-path="<%= tocData.queryDir %>/<%= doc.name %>" data-type="<%= doc.type %>"><%= doc.name %></a></td>
                <td><%= doc.lastModfied %></td>
                <td><%= Math.ceil(doc.size/1024) %>KB</td>
            </tr>
            <% }) %>
        </tbody>
    </table>
<% }else{ %>
    <p>空的目录</p>
<% } %>
<% } %>